*.pyc

# IDE settings
.exrc/

# secret keys (ex.: passwords, secret keys, etc.)
secretkeys.json

local_settings.py

*.sqlite3
volumes/

webapp/.sass-cache/
webapp/node_modules/
webapp/static/dist
webapp/yarn-error.log
webapp/yarn.lock
