{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static "main.css" %}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <div id="app">
        {% verbatim %}
        <nav role="navigation">
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s2">
                        <a href="#" class="brand-logo">Bidonow</a>
                    </div>
                    <div class="col s8">
                        <ul class="menu">
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Deals</a></li>
                            <li><a href="#">Work Reviews</a></li>
                            <li><a href="#">Work Professionals</a></li>
                        </ul>
                    </div>
                    <div class="col s2">
                        <ul>
                            <li>
                                <a href="/signup" class="btn btn-sign-up">Sign up</a>
                                  <div id="sign-up-modal" class="modal modal-fixed-footer sign-up-modal">
                                    <div class="modal-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col s12 center-align">
                                                    <span class="lbl-hello">Hello</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 center-align">
                                                    <span class="lbl-create-a-new-cccount">Create New Account</span>
                                                </div>
                                            </div>
                                            <div class="divider"></div>
                                            <div class="row">
                                                <div class="col s6 center-align">
                                                    <ul>
                                                        <li>
                                                            <button class="btn btn-facebook left-align">
                                                                <i class="zmdi zmdi-facebook-box left"></i> Sign-up with Facebook
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col s6 center-align">
                                                    <div class="row">
                                                        <span class="lbl-sign-up-with-email">Sign-up with Email</span>
                                                    </div>
                                                    <form>
                                                        <div class="row">
                                                            <input type="text" placeholder="Email" class="inp-email"/>
                                                        </div>
                                                        <div class="row">
                                                            <input type="password" placeholder="Password" class="inp-password"/>
                                                        </div>
                                                        <div class="row">
                                                            <button type="submit" class="btn btn-sign-up-submit">Sign-up</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
            </div>
        </nav>
        <!-- Navbar goes here -->

        <!-- Page Layout here -->
          <button id="show-modal" @click="showModal = true">Show Modal</button>
          <modal v-if="showModal" @close="showModal = false">
            <!--
            you can use custom content here to overwrite
            default content
            -->
            <h3 slot="header">custom header</h3>
           </modal>
        <div class="row">
            <div class="col s12">
            <div>
                <p>{{ message }}</p>
                <button v-on:click="reverseMessage" class="btn">Reverse Message</button>
            </div>
            </div>
        </div>

        {% endverbatim %}
        </div>

        <script type="text/javascript" src="{% static "main.js" %}"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
    </body>
</html>
