// COMMON elements starts
/* .btn {
    @extend .btn-flat;
    background-color: $button-raised-background;
    color: white;
} */

// COMMON elements ends


// Nav bar starts
nav {
    height: 150px;
    background-color: #ffffff;
    margin-top: 10px;

    .brand-logo {
        font-family: 'Bree Serif';
        color: #555555;
        font-size: 42px;
        width: 200px;
    }
    ul.menu {
        margin-right: 10px;
        margin-left: 10px;
    }
    ul.menu li {
        float: left;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        height: 30px;
        margin-top: 10px;
        font-family: 'Roboto Slab';
        padding-right: 10px;
        padding-left: 10px;
        vertical-align: middle;
        color: #222222;
        a {
            line-height: 30px;
            color: #222222;
        }
        &:last-child {
            border-right: none;
        }
    }
}

// Nav bar ends

.btn {
    height: 35px;
    background-blend-mode: normal, overlay;
    color: white;
    background-color: #0093b2;
    // background-image: linear-gradient(#0093b2, #0093b2), linear-gradient(57deg, #000000, #ffffff);
    display: inline-block;
    vertical-align: middle;
    border: none;
    line-height: 35px;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
    i {
        margin-right: 10px;
    }
}

.btn-blue {
    @extend .btn;
    background-image: linear-gradient(#186acf, #186acf), linear-gradient(57deg, #000000, #ffffff);
}
ul.account-menu {
    margin-top: 20px;
    li {
        float: left;
        margin-right: 10px;
        margin-top: -10px;
        position: relative;
    }
}

a.nav-top {
    font-size: 14px;
    width: 100%;
    display: block;
    margin-top: -20px;
}


i {
    display: inline-block;
    background-repeat: no-repeat;
}

.bull-eye-icon {
    display: inline-block;
    background-image: url("../img/bull-eye-simple.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.chat-icon {
    display: inline-block;
    background-image: url("../img/chat-icon.svg");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.bell-icon {
    display: inline-block;
    background-image: url("../img/bell-icon.svg");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;

}

.bull-eye-logo {
    display: inline-block;
    background-image: url("../img/bull-eye.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: 35px 35px;
    background-position: center;
}

.notifications-count {
    position: absolute;
    top: -4px;
    left: 22px;
    color: red;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid red;
    background-color: red;
    div {
        margin-top: -3px;
        margin-left: 5px;
        color: white;
    }
}


.search-box {
    position: relative;
    i {
        position: absolute;
        top: 8px;
        left: 3px;
        z-index: 1000;
    }
}

.inp-nav-search {
    width: 200px;
    height: 40px;
    position: relative;
    padding-left: 25px;
    border: solid 1px #0093b2;
}

.inp-nav-search::after {
  position: absolute;
  font-family: 'Material Icons';
  top: 0;
  left: 10px;
  content: "search";
}

.nav-profile-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #0093b2;
    font-size: 10px;
    padding-left: 7px;
    padding-top: 10px;
    margin-top: -3px;
    .btn-user-menu {
        position: absolute;
        top: 27px;
        left: 29px;
        color: #186acf;

    }
    
}


.menu-section {
    display: inline-block;
    float: left;
}
