// COMMON elements starts
/* .btn {
    @extend .btn-flat;
    background-color: $button-raised-background;
    color: white;
} */

// COMMON elements ends


// Nav bar starts
nav {
    height: 150px;
    background-color: #ffffff;

    .brand-logo {
        font-family: 'Bree Serif';
        color: #555555;
        font-size: 42px;
        width: 250px;
    }
    ul.menu {
        margin-right: 40px;
    }
    ul.menu li {
        float: left;
        border-right: 1px solid #000;
        height: 30px;
        margin-top: 10px;
        font-family: 'Roboto Slab';
        padding-right: 10px;
        padding-left: 10px;
        vertical-align: middle;
        color: #222222;
        a {
            line-height: 30px;
            color: #222222;
        }
        &:last-child {
            border-right: none;
        }
    }
}

// Nav bar ends

.btn {
    height: 35px;
    background-blend-mode: normal, overlay;
    color: white;
    background-color: #0093b2;
    // background-image: linear-gradient(#0093b2, #0093b2), linear-gradient(57deg, #000000, #ffffff);
    display: inline-block;
    padding: 5px 2rem;
    vertical-align: middle;
    border: none;
    white-space: nowrap;
    i {
        margin-right: 10px;
    }
}

.btn-blue {
    @extend .btn;
    background-image: linear-gradient(#186acf, #186acf), linear-gradient(57deg, #000000, #ffffff);
}

ul.account-menu li {
    float: left;
    margin-right: 10px;
    margin-top: -10px;
}

a.nav-top {
    font-size: 14px;
    width: 100%;
    display: block;
}


i {
    display: inline-block;
    background-repeat: no-repeat;
}

.bull-eye-icon {
    display: inline-block;
    background-image: url("../img/bull-eye.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.bull-eye-logo {
    display: inline-block;
    background-image: url("../img/bull-eye.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-position: center;
}

.menu-section {
    display: inline-block;
    float: left;
}
