<div class="auth-popup login-popup">
<a href="#" class="btn-login">Log in</a>
<div class="modal modal-fixed-footer login-modal popup-modal">
    <div class="modal-content">
            <div class="row">
                <div class="col s12 center-align">
                    <div class="lbl-hello">Welcome Back!</div>
                    <div class="lbl-create-a-new-cccount">Please login.</div>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s6 social-buttons">
                    <ul>
                        <li>
                            <button class="btn btn-facebook left-align valign-wrapper">
                                <i class="zmdi zmdi-facebook-box"></i>Sign-up with Facebook
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-twitter left-align valign-wrapper">
                                <i class="zmdi zmdi-twitter-box"></i>Sign-up with Twitter
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-google left-align valign-wrapper">
                                <i class="zmdi zmdi-google-plus-box"></i>Sign-up with Google +
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-linkedin left-align valign-wrapper">
                                <i class="zmdi zmdi-linkedin-box"></i>Sign-up with LinkedIn
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col s6 center-align">
                <form class="login-form">
                    <div class="row">
                        <input type="text" placeholder="Email" class="login-inp-email"/>
                    </div>
                    <div class="row">
                        <input type="password" placeholder="Password" class="login-inp-password"/>
                    </div>
                    <div class="row">
                        <span class="login-error" style="display: none;">
                            User name or password are wrong!!!
                        </span>
                        <button type="submit" class="btn btn-login-submit">Login</button>
                    </div>
                </form>
                </div>
            </div>
    </div>
</div>
</div>
