<div class="auth-popup signup-popup">
<a href="/signup" class="btn btn-sign-up">Free Sign up</a>
<div id="sign-up-popup" class="modal modal-fixed-footer sign-up-modal popup-modal">
<div class="modal-content">
        <div class="row">
            <div class="col s12 center-align">
                <div class="lbl-hello">Hello</div>
                <div class="lbl-create-a-new-cccount">Create New Account</div>
                <div class="divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 social-buttons">
                <ul>
                    <li>
                        <a class="btn btn-facebook left-align valign-wrapper" href="/accounts/facebook/login/?process=login">
                            <i class="zmdi zmdi-facebook-box"></i>Sign-up with Facebook
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-facebook left-align valign-wrapper" href="/accounts/twitter/login/?process=login">
                            <i class="zmdi zmdi-twitter-box"></i>Sign-up with Twitter
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-google left-align valign-wrapper" href="/accounts/google/login/?process=login">
                            <i class="zmdi zmdi-google-plus-box"></i>Sign-up with Google +
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-linkedin left-align valign-wrapper" href="/accounts/linkedin/login/?process=login">
                            <i class="zmdi zmdi-linkedin-box"></i>Sign-up with LinkedIn
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col s6 center-align">
                <div class="row">
                    <span class="lbl-sign-up-with-email">Sign-up with Email</span>
                </div>
                <form class="login-form">
                    <div class="row">
                        <input type="text" placeholder="Email" class="inp-email"/>
                    </div>
                    <div class="row">
                        <input type="password" placeholder="Password" class="inp-password"/>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-sign-up-submit">Sign-up</button>
                    </div>
                </form>
            </div>
        </div>
</div>
</div>
</div>
